<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>已完成任务</title>
    <link rel="stylesheet" href="../static/css/buju.css" />
</head>
<body>
<a href="./">返回主页</a>
    <div>
        <table>
            <thead>
                <tr bgcolor="AliceBlue">
                    <th width="200">Task_id</th>
                    <th width="150">添加时间</th>
                    <th>Scan_App_URL</th>
                </tr>
            </thead>
            <tbody>
                {% for i in res %}
                <tr bgcolor="AliceBlue">
                    <td>{{ i.task_id }}</td>
                    <td>{{ i.add_time }}</td>
                    <td>{{ i.scan_app_url }}</td>
                </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>


</body>
</html>