<table>
    <thead>
        <tr>
            <th>Task_Id</th>
            <th>File_Id</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    {% for i in response.data %}
        <tr>
            <td>{{ i.Task_id }}</td>
            <td>{{ i.File_id }}</td>
            <td>{{ i.Status }}</td>
            <td>
                <a href="javascript:void(0);" onclick="info('{{ i[1] }}')" title="详细信息"><i class="icon iconfont"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
总行数：{{ response.row_num }}
<form method="post" action="/error_msg">
    task id<input type="text" name='task_id'>
    file id<input type="text" name="file_id">
    <input type="submit"  >

</form>
<form method="get" action="/select">
    task id<input type="text" name='condition'>
    <input type="submit"  >
</form>