<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>支付宝接口监控</title>
	<link rel="stylesheet" href="../static/css/buju.css" />


</head>
<body>
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/jsapi.js"></script>
<script type="text/javascript" src="../static/js/corechart.js"></script>
<script type="text/javascript" src="../static/js/jquery.gvChart-1.0.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.ba-resize.min.js"></script>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>

<div class="info_tab">
    <table>
		<thead>
			<tr align="center">
				<th width="150"></th>
				<th width="250"></th>
				<th width="150"></th>
				<th width="250"></th>
			</tr>
		</thead>
		<tbody>
        <tr align="center">
            <td>当天最长等待时间:</td>
            <td>{{ data["waiting_time_max_today"] }} ms</td>
            <td>历史最长等待时间:</td>
            <td>{{ data["waiting_time_max_history"] }} ms</td>
        </tr>
        <tr align="center">
            <td>当天分析成功数:</td>
            <td>{{ data["sus_today"] }}</td>
            <td>历史分析成功总数:</td>
            <td>{{ data["sus_history"] }}</td>
        </tr>
        <tr align="center">
            <td>当天分析失败数:</td>
            <td>{{ data["fail_today"] }}</td>
            <td>历史分析失败总数：</td>
            <td>{{ data["fail_history"] }}</td>
        </tr>
        <tr align="center">
            <td>当日下载>5分钟任务数量:</td>
            <td>{{ data["download_time_count_history"] }}</td>
            <td>历史下载>5分钟任务数量</td>
            <td>{{ data["download_time_count_today"] }}</td>
        </tr>
		</tbody>
    </table>
</div>
<div class="search_form">
	<b>TASK ID: </b><input type="text" name='condition' size="100"  id="search" >
	<input type="button" value="搜索Task ID"  onclick="search_taskid()">
</div>
<div class="pending" id="pending0" >
<h4>等待处理任务列表：</h4>
	<table>
		<thead>
			<tr>
				<th width="200"> Task_Id</th>
				<th width="100">添加时间</th>
				<th width="300">扫描app_url</th>
			</tr>
		</thead>
		<tbody>
		{% for i in pendings: %}
			<tr>
				<td>{{ i.Task_id}}</td>
				<td>{{ i.add_time }}</td>
				<td>{{ i.scan_app_url }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<div class="read_done"><a href="./done_task">查看已完成任务</a></div>




<div id="task" class="taskid_data">
		<table>
			<thead>
			<tr>
				<th width="400" align="left">Task_ID</th>
				<th width="200" align="left">Status</th>
			</tr>
			</thead>
			<tbody id="task_detail">

			</tbody>
		</table>
</div>

<div id="zhexian" class="chart_xian" style="width: 500px;height:200px;"></div>

<div id="bing1" class="bing1" style="width: 400px;height:300px;"></div>
<div id="bing2" class="bing2" style="width: 400px;height:300px;"></div>



<div class="err_msg" id="err_msg">
	<table>
		<thead>
			<tr>
				<th>Crash Flag</th>
				<th>Error Message</th>
				<th>Error Location</th>
				<th>Error Type</th>
			</tr>
		</thead>
		<tbody id="err_body">

		</tbody>
	</table>
</div>

</body>

<script type="text/javascript">
$('#task').hide();
$('#err_msg').hide();
function Trim(str){
	return str.replace(/(^\s*)|(\s*$)/g, "");
}

var myChart = echarts.init(document.getElementById('bing1'))
option = {
    title : {
        text: '历史分析时间汇总',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['<1分钟','1-5分钟','5-30分钟','30分钟以上',]
    },
    series : [
        {
            name: '历史分析时间汇总',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:{{ data["less1_history"] }}, name:'<1分钟'},
                {value:{{ data["One_to_Five_history"] }}, name:'1-5分钟'},
                {value:{{ data["Five_to_Thirty_history"] }}, name:'5-30分钟'},
                {value:{{ data["MoreThirty_history"] }}, name:'30分钟以上'},
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
myChart.setOption(option);

var myChart = echarts.init(document.getElementById('bing2'))
option = {
    title : {
        text: '当日分析时间汇总',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['<1分钟','1-5分钟','5-30分钟','30分钟以上',]
    },
    series : [
        {
            name: '当日分析时间汇总',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:{{ data["less1_today"] }}, name:'<1分钟'},
                {value:{{ data["One_to_Five_today"] }}, name:'1-5分钟'},
                {value:{{ data["Five_to_Thirty_today"] }}, name:'5-30分钟'},
                {value:{{ data["MoreThirty_today"] }}, name:'30分钟以上'},
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
myChart.setOption(option);







function search_taskid(){
	var taskid;
	taskid = $("#search").val();
	taskid = Trim(taskid);
    	$.ajax({
        	url: '/select',
            type: 'get',
            data:{
            	'condition': taskid
            },
            dataType: 'json',
            timeout: 5000,
            error: function(){
                alert('连接超时');
            },
			success: function( data ) {
				if(data.error_code == 'success'){
					succFunction(data);
				}
				else{
					alert("搜索不到！")
				}

            }
        });
}

function succFunction( data ){
	if(data.error_row_num != "none"){
		$('#err_msg').show();
			for(i=0;i<data.err_info.length;i++){
				error_body=error_body+'<tr><td>'+data.err_info[i].crash_flag+'</td><td>'+data.err_info[i].error_msg+'</td><td>'+data.err_info[i].error_location+'</td><td>'+data.err_info[i].error_type+'</td><tr>'
			}
		$('#err_body').html(err_body);
		$('#err_msg').show();
	}
	res = '<tr><td>'+data.task_data[0].Task_id +'</td><td>'+data.task_data[0].Status +'</td></tr>';
	$('#task').show();
	$('#task_detail').html(res);
}


var myChart = echarts.init(document.getElementById('zhexian'))
option = {
    title: {
        text: ''
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['7日提交','7日处理']
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : ['5天前','4天前','3天前','2天前','前天','昨天','今天']
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'7日提交',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
            data:[
            	<!--{{ task_day_before6 }},-->
            	<!--{{ task_day_before5 }},-->
            	<!--{{ task_day_before4 }},-->
            	<!--{{ task_day_before3 }},-->
            	<!--{{ task_day_before2 }},-->
            	<!--{{ task_day_before1 }},-->
            	<!--{{ task_day_before0 }},-->
            	6,5,3,2,6,8,6,
            ]
        },
        {
            name:'7日处理',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
            data:[
				<!--{{ deal_day_before6 }},-->
				<!--{{ deal_day_before5 }},-->
				<!--{{ deal_day_before4 }},-->
				<!--{{ deal_day_before3 }},-->
				<!--{{ deal_day_before2 }},-->
				<!--{{ deal_day_before1 }},-->
				<!--{{ deal_day_before0 }},-->
				3,4,3,4,3,4,5,
            ]
        },
    ]
};

myChart.setOption(option);


</script>


</html>